h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    background-color: orange;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
    background-color: red;
}

/* ul {
    background-color: blue;
} */

.coresFavoritas {
    background-color: red;
}